function Util.init 0
push constant 0
return
function Util._logShiftByteRight 1
label WHILE_EXP0
push argument 0
push constant 255
gt
not
if-goto WHILE_END0
push argument 0
push constant 256
sub
pop argument 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Util._shiftByteLeft 1
push argument 0
push argument 0
add
pop local 0
push local 0
push local 0
add
pop local 0
push local 0
push local 0
add
pop local 0
push local 0
push local 0
add
pop local 0
push local 0
push local 0
add
pop local 0
push local 0
push local 0
add
pop local 0
push local 0
push local 0
add
pop local 0
push local 0
push local 0
add
pop local 0
push local 0
push argument 1
add
pop local 0
push local 0
return
function Util._debugWord 1
push argument 0
call Util._logShiftByteRight 1
pop local 0
push local 0
call UART.writeChar 1
pop temp 0
push argument 0
call UART.writeChar 1
pop temp 0
push constant 0
return
